.banner {
    background-color: green;
    color: black;
    margin-top: 75px;
    text-align: center;
    padding: 25px 0;
}

#headshot{
    height: 200px;
    width: 200px;
}

#bitchell {
    color: black;
    font-size: 50px;
    padding-top: 25px;
}

.gay {
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
}